@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .mission_section {
    position: relative;
    @apply relative bg-colors-dark text-white h-screen flex items-center justify-center w-full;
  }

  .mission_container {
    @apply px-6;
    position: relative;
    z-index: 2;
  }

  .mission_title {
    @apply text-5xl font-oldenglishtextmt text-colors-redBright mb-8;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    position: relative;
  }

  .mission_grid {
    @apply grid w-full mt-8 gap-y-6;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "left center right"
      "bottom bottom bottom";
  }

  .mission_cell {
    @apply flex items-center justify-center;
  }

  .mission_icon {
    @apply w-56 h-56;
  }

  .mission_text {
    @apply text-3xl font-newrocker text-colors-goldBeige leading-snug text-center;
    width: 26rem;
  }

  .mission_bottom {
    grid-area: bottom;
    @apply text-center col-span-3;
  }

  /* Nascondi su mobile */
  @media (max-width: 768px) {
    .mission_section {
      display: none !important;
    }
  }
}
