@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* =====================================
     MOBILE (max-width: 768px)
  ===================================== */
  @media (max-width: 768px) {
    .social-section {
      @apply relative w-full overflow-hidden h-screen bg-colors-dark flex items-center justify-center;
    }
  
    .social-content {
      @apply relative z-10 flex flex-col items-center justify-center px-4;
    }
  
    .eyes-container {
      @apply flex flex-wrap justify-center gap-6 mt-6;
    }
  
    .eye-container {
      @apply cursor-pointer flex items-center justify-center w-12 h-12;
    }
  
    .eye-icon {
      @apply w-full h-full rounded-full object-cover;
    }
  
    .social-title {
      @apply text-3xl text-colors-redBright font-oldenglishtextmt mb-4 text-center;
    }
  
    .social-subtitle {
      @apply max-w-md font-newrocker text-colors-goldBeige text-base leading-relaxed text-center px-7;
    }
  }
  

  /* =====================================
     DESKTOP (min-width: 769px)
  ===================================== */
  @media (min-width: 769px) {

    .social-section {
      @apply relative w-full h-screen overflow-hidden bg-colors-dark;
    }

    .social-content {
      @apply relative z-10 flex flex-col items-center justify-center h-full px-4 ;
    }

    .eyes-container {
      @apply flex flex-wrap justify-center gap-14 mb-16 my-10;
    }

    .eye-container {
      @apply relative cursor-pointer flex items-center justify-center;
      width: 4rem;
      height: 4rem;
      transform: translateY(0);
      opacity: 1;
      animation: none;
      border: none;
      background: none;
    }

    .eye-icon {
      @apply w-full h-full object-cover  rounded-full;
    }

    .eye-container:hover {
      transform: scale(1.1);
    }

    .social-title {
      @apply text-6xl text-colors-redBright font-oldenglishtextmt mb-4 text-center opacity-0;
    }

    .social-subtitle {
      @apply max-w-6xl font-newrocker text-center text-colors-goldBeige text-3xl leading-relaxed  opacity-0;
    }
  }

  /* =====================================
     ANIMAZIONI
  ===================================== */
  @keyframes riseFromBelow {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .rise-from-below {
    animation: riseFromBelow 1s ease-out forwards;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
  }

  .delay-0 { animation-delay: 0s; }
  .delay-1 { animation-delay: 0.2s; }
  .delay-2 { animation-delay: 0.4s; }
  .delay-3 { animation-delay: 0.6s; }

}
